<div>
	<hr />
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Roles</h5>
			None: No special permission for this site. Will also disappear from this page.<br />
			Student: can get into Staff Home, but not assigned tickets. <b>Use this for techs on vacation</b>.<br />
			Tech: Can get into Staff Home &amp; is in pool of folks to receive ticket assignment.<br />
			Admin: Can access Staff &amp; Management Home, but not review ratings.
			<b>Note:</b> Last 2 items are not selectable to prevent escalation of privileges.
			<br />
			Manager: Full access to all pages&nbsp;<br />
		</div>
	</div>
	<hr />
</div>