
<div class="text-center">
    <h1 class="display-4">Management Home</h1>
    <ul style="list-style-type: none">
        <li><a asp-action="NewUserPermissions" asp-controller="Management">New User Request Permissions</a></li>        
        <li><a asp-action="BulkReassign" asp-controller="Management">Bulk Reassign</a></li>
        <li><a asp-action="Membership" asp-controller="Management">Custom Membership</a></li>
        <li><hr /></li>
        <li><a asp-action="Roles" asp-controller="Management">Adjust Roles/Assignment Scheme</a></li>
        <li><a asp-action="Delete" asp-controller="Management">Delete Work Orders</a></li>
    </ul>
</div>