@model ITHelp.Models.ManualEmployees



<form asp-action="NewMember">
	<div>
		<h3>Create new manual entry:</h3>	
		<div class="form-group row">
			<label asp-for="Id" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-3">
				<input asp-for="Id" class="form-control" />
			</div>
		</div>
		<div class="form-group row">
			<label asp-for="FirstName" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-3">
				<input asp-for="FirstName" class="form-control" />
			</div>
		</div>
		<div class="form-group row">
			<label asp-for="LastName" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-3">
				<input asp-for="LastName" class="form-control" />
			</div>
		</div>
		<div class="form-group row">
			<label asp-for="Phone" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-3">
				<input asp-for="Phone" class="form-control" />
			</div>
		</div>
		<div class="form-group row">
			<label asp-for="KerberosId" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-3">
				<input asp-for="KerberosId" class="form-control" />
			</div>
		</div>
		<div class="form-group row">
			<label asp-for="Email" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-3">
				<input asp-for="Email" class="form-control" />
			</div>
		</div>		
		<div class="form-group row">
			<label asp-for="Role" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-2">
				<select asp-for="Role" class="form-select form-select-sm">
					<option>none</option>
					<option>student</option>
					<option>tech</option>
					<option>admin</option>
				</select>
			</div>
		</div>
		<div>
			<input type="submit" class="btn btn-primary" value="Update" /> |
			<a asp-action="Membership" class="btn btn-dark">Cancel</a>
		</div>
	</div>
</form>

