html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.bigCheckbox {
    width: 30px !important;
    height: 30px !important;
}

div.required label.col-form-label:after {
    content: " *";
    color: red;
}

.nav-link:hover {
    background-color: #ffbf00;
    color: #022851 !important;
    font-weight: bold;
}

.col-form-label {
    font-weight: bold;
}

.navbar-nav {
    background: #4C5D79;
    padding: 0.24em 0.3em 0.25em;
    font-weight: bold;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}