@model ITHelp.Models.WorkOrderEditCreateViewModel


<h1>Create New Work Order</h1>
<hr />
<div class="row">    
    <div class="col-sm-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row required">
                <label asp-for="workOrder.Title" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input type="text" asp-for="workOrder.Title" class="form-control">
                    <span asp-validation-for="workOrder.Title" class="text-danger"></span>
                </div>
            </div>            
            <div class="form-group row required">
                <label asp-for="workOrder.FullText" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <textarea class="form-control" style="height: 200px;" asp-for="workOrder.FullText"></textarea>
					<span asp-validation-for="workOrder.FullText" class="text-danger"></span>
                </div>                
            </div>            
            <div class="form-group row">
                <label asp-for="workOrder.Contact" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
					<input asp-for="workOrder.Contact" class="form-control" />
					<span asp-validation-for="workOrder.Contact" class="text-danger"></span>
                </div>                
            </div>
            <div class="form-group row">
                <label asp-for="UpdateContact" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-2">
                    <input type="checkbox" class="form-check-input bigCheckbox" asp-for="UpdateContact" />
                </div>                
            </div>
            <div class="form-group row">
                <label asp-for="workOrder.Room" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-3">
                    <input asp-for="workOrder.Room" class="form-control" />
                    <span asp-validation-for="workOrder.Room" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="workOrder.Building" class="col-sm-3 col-form-label">Building</label>
                <div class="col-sm-3">
                    <select asp-for="workOrder.Building" class="form-select form-select-sm" asp-items="@(new SelectList(Model.buildings, "Id", "Name"))"></select>
                    <span asp-validation-for="workOrder.Building" class="text-danger"></span>
                </div>        
            </div>
            <div class="form-group row">
                <label asp-for="workOrder.ComputerTag" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-4">
					<input asp-for="workOrder.ComputerTag" class="col-sm-4 form-control" />
					<span asp-validation-for="workOrder.ComputerTag" class="text-danger"></span>
                </div>                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> | 
                <a asp-action="index" asp-controller="Home" class="btn btn-dark">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
