<div class="text-center">
    <h1 class="display-4">Staff Home</h1>
    <ul style="list-style-type: none">
        <li><a asp-action="Create" asp-controller="Staff">Submit new ticket</a></li>
        <li><a asp-action="MyOpen" asp-controller="Staff">My Open Work Orders</a></li>
        <li><a asp-action="AllOpen" asp-controller="Staff">All Open Work Orders</a></li>
        <li><a asp-action="Search" asp-controller="Staff">Search</a></li>
        <li><hr /></li>
        <li><h3>Staff Options</h3></li>
        <li><a asp-action="Assignment" asp-controller="Staff">Ticket assignment stats & scheme</a></li>
        <li><a asp-action="MigratedGroups" asp-controller="Staff">Migrated Groups (Rover)</a></li>
        <li><a asp-action="UserPermissions" asp-controller="Staff">Request User Permissions</a></li>
        <li><a asp-action="Merge" asp-controller="Staff">Merge Work Orders</a></li>
    </ul>
</div>