@model ITHelp.Models.WorkOrders

<form asp-action="Merge" method="post">
	<div>
		<div class="form-group row">
			<label for="id" class="col-sm-3 col-form-label">Parent Work Order ID</label>
			<div class="col-sm-3">
				<input type="number" id="id" name="id" class="form-control" value="@Model.Id" />
				
			</div>
			<div class="col-sm-3">
				<input type="submit" class="btn btn-primary" value="Look Up" />
			</div>
		</div>
	</div>
</form>
<div>
	<div class="card text-dark bg-light mb-3">
		<div class="card-header">This will be the Parent Work Order!</div>
		<div class="card-body">
			@await Html.PartialAsync("_WorkOrderSummary", @Model)
			
		</div>
	</div>	
	<hr />
	<div class="form-group row">
		<label for="woToMerge" class="col-sm-3 col-form-label">Work Order to merge</label>
		<div class="col-sm-9">
			<input type="number" id="woToMerge" name="woToMerge" />
			<input type="button" class="btn btn-primary" onclick="getChildWorkOrder()" value="Retrieve WO to merge" />
		</div>		
	</div>
	<div class="card text-white bg-secondary mb-3 collapse" id="childCard">
		<div class="card-header">This Work Order will be closed!</div>
		<div class="card-body">
			<h4>Attachments will NOT be moved.</h4>
			<div>
				<form asp-action="CompleteMerge">
					<input type="hidden" id="parentId" name="parentId" value="@Model.Id" />
					<div id="childWorkOrderDiv"></div>
					<hr />
					<input type="submit" class="btn btn-danger" value="Merge Work Orders" /> |
					<a asp-action="index" class="btn btn-dark">Cancel</a>
				</form>				
			</div>
		</div>
	</div>
</div>

@section Scripts {
     
    <script type="application/javascript">
		function getChildWorkOrder() 
		{
			
			if(!$("#woToMerge").val())
			{
				alert("Warning: No WorkOrder ID entered. Please update and try again");
				return;
			}
			let id = $("#woToMerge").val();

			let data = {
				id: id,
			};
			let vs = $("#childWorkOrderDiv");
			$.ajax({
				type: "GET",
				url: "/staff/GetWOSummary",
				data: data,
				success: function (res) {	
					console.log(res);
					vs.empty();
					// No varieties were found
					if (res.length === 0) {
						alert("Warning: No Work Order found. Please update and try again");
					}
					vs.append(res);
					$("#childCard").show();

				},
				error: function (res) {
					alert("There was an error processing the request");
				}
			});
			

		}
	</script>
}
