@model List<ITHelp.Models.WorkOrders>
@{
    Layout = "_LayoutWide";
}
<h1>Open Work Orders</h1>

@await Html.PartialAsync("_StaffWOTable", @Model)


@section Scripts {

    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" />

    <script>
        $(document).ready(function () {
            $('.datatable').DataTable({
                dom: 'lfrtip',
                pageLength: 100,
                columnDefs: [
                    {
                        targets: [1],
                        width: "45%",
                    },
                    {
                        targets: [2],
                        searchable: true,
                        visible: false
                    },
                ],                
                order: [[3, 'desc']]
            });
        });

    </script>


}
